/* ========== Tablet ========== */
@media (max-width:992px){
.nav-links,.cv-btn{display:none}
.menu-btn{display:block}
.hero,.about-container,.contact-container,.project-card{
grid-template-columns:1fr;
}
.hero-right{order:-1}
.image-card{width:340px;height:430px;margin:auto}
.hero h1{font-size:3.2rem}
.hero h2{font-size:1.6rem}
.about-details{grid-template-columns:1fr 1fr}
section{padding:90px 6%}
}

/* ========== Mobile ========== */
@media (max-width:768px){
.hero-buttons,.hero-info,.project-buttons{
flex-direction:column;
align-items:flex-start;
}
.about-details,.why-container,.skills-container{
grid-template-columns:1fr;
}
.timeline:before{left:20px}
.timeline-icon{width:42px;height:42px;font-size:.9rem}
.timeline-item{gap:14px}
.section-heading h2{font-size:2rem}
.hero h1{font-size:2.5rem}
.hero h2{font-size:1.3rem}
.image-card{width:290px;height:360px}
.card-one,.card-two,.card-three{display:none}
.navbar{padding:16px 22px}
}

/* ========== Small Mobile ========== */
@media (max-width:480px){
section{padding:80px 5%}
.hero{padding-top:140px}
.hero-buttons .primary-btn,
.hero-buttons .secondary-btn,
.project-btn{width:100%;justify-content:center}
.social-icons{justify-content:center}
.contact-right input,
.contact-right textarea{font-size:15px}
.logo h2{font-size:1.6rem}
}
